@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

  :local(.aboutContainer){
    margin-top:10vh;
    overflow-x: hidden;
    background-image:radial-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 20, 0.7), rgba(44, 62, 80,0.7), rgba(127, 140, 141,0.6), rgba(52, 73, 94, 0.8)), url("../images/homeScreen.png");
    /* background-size: cover; */
    filter: grayscale(50%);
  }


:local(.intro){
    position: relative;
    top:20vh;
    width:100%;
    height: 40vh;
    text-align:center;
    color:rgb(255, 255, 255);
    
}


:local(.headingOne) {
  display: block;
  font-size: 60px;
  visibility: visible;
  opacity: 1;
  animation-name: headingOne;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-delay: -1s;
  animation-iteration-count: 1;
}

@keyframes headingOne {
  0% {
    visibility: visible;
    opacity: 1;
    transform: rotateY(180deg);
  }
  40% {
    transform: scale(1.3);
  }
  60% {
  
    transform: scale(1.4);
  }
  80% {
    color:#686de0;
  
    transform: scale(1.5);
  }
  90% {
    
    transform: scale(1.4);
  }
  99% {
    
    opacity: 0;
    visibility: hidden;
    opacity: 0;
    transform: scale(1.3);
  }
  100% {
    
    transform: scale(1.2);
  }
}

:local(.infoContainer){
height: auto;
padding-top: 10vh;
padding-bottom: 20vh;

}

:local(.grid){
  display: grid;
   grid-template-columns: auto auto;
   justify-content: center;
  
}

:local(.facts){
  padding-top:5vh;
}

:local(.headingTwo) {
  padding: 22px;
  color:white;
  font-size: 28px;
}

    :local(.para) {
      padding-left: 20px;
      padding-right: 50px;
      line-height: 30px;
      color:white;
      font-size: 18px;
    }

  :local(.image){
      width: auto;
      height: auto;
      overflow: hidden;
      padding-right: 20px;
     
  }

  :local(.image img){  
  border:1px solid black;
  border-radius: 5px;
  width:100%;
  height: 100%;
  /* filter:grayscale(100%); */
  }
  
  @media (max-width: 1000px){
    :local(.headingOne) {
      font-size: 50px;
    }
    :local(.headingTwo) {
      padding: 20px;
      font-size: 25px;
    }
    
  }

  @media (max-width: 800px){
    :local(.headingOne) {
      font-size: 40px;
    }
    :local(.infoContainer){
      padding-top: 5vh;
      padding-bottom: 20vh;
      
      }
    :local(.headingTwo) {
      font-size: 22px;
      text-align: center;
    }
    :local(.grid){
      display: grid;
       grid-template-columns: auto;
       justify-content: center;
      
    }
    :local(.para) {
      padding-left: 20px;
      padding-right: 20px;
      line-height: 30px;
      color:white;
      font-size: 18px;
    }
    :local(.image){
      padding-top: 5vh;
      padding-right: 20px;
      padding-left: 20px;
     
  }
  }

  @media (max-width: 600px){
    :local(.headingOne) {
      font-size: 35px;
    }
    :local(.infoContainer){
      padding-top: 3vh;
      padding-bottom: 20vh;
      
      }
    :local(.headingTwo) {
      font-size: 22px;
      text-align: center;
    }

    :local(.para) {
      padding-left: 20px;
      padding-right: 20px;
      line-height: 30px;
      color:white;
      font-size: 16px;
    }
    :local(.image){
      padding-top: 5vh;
      padding-right: 20px;
      padding-left: 20px;
     
  }

  }

  @media (max-width: 400px){
    :local(.headingOne) {
      font-size: 30px;
    }
    :local(.infoContainer){
      padding-top: 3vh;
      padding-bottom: 20vh;
      
      }
    :local(.headingTwo) {
      font-size: 22px;
      text-align: center;
    }

    :local(.para) {
      padding-left: 20px;
      padding-right: 20px;
      line-height: 30px;
      color:white;
      font-size: 15px;
    }
    :local(.image){
      padding-top: 5vh;
      padding-right: 20px;
      padding-left: 20px;
     
  }
  
  }