@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
  
  :local(.contactContainer){
    margin-top:10vh;
    width:100%;
    background-image:radial-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 20, 0.7), rgba(44, 62, 80,0.7), rgba(127, 140, 141,0.6), rgba(52, 73, 94, 0.8));
  background-size: cover;
  }

:local(.intro){
padding-top:20vh;
position: relative;
width:100%;
text-align:center;
filter: grayscale(70%); 
}

:local(.headingOne){
font-size: 30px;
color:rgb(255, 255, 255);
}

:local(.para){
    font-size: 20px;
    }

    :local(.firstConnection){
        color:rgb(255, 255, 255);
        padding-top:10vh;
        padding-bottom: 5vh;
        text-align: center;
        font-size: 30px;
    }

    :local(.secondConnection){
        color:rgb(255, 255, 255);
        padding-top:5vh;
        text-align: center;
        font-size: 30px;
    }

    :local(.contactIcons){
        padding-top: 5vh;
        padding-bottom: 20vh;
        text-align: center;
        font-size: 18px;
    }

    :local(.email){
        
        font-size: 16px;
    }

    :local(.phone){
        margin-right:45px;
        font-size: 16px;
    }

:local(.place){
    margin-right:38px;
    font-size: 16px;
}

    :local(.socialIcons){
        height:100px;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    
    :local(.socialLink){
        width: 50px;
        height:50px;
        background-color:rgba(223, 230, 233, 0.7);
        border-radius: 25px;
        text-align: center;
        margin:10px;
        line-height: 50px;
        box-shadow: 1px 4px 2px 2px #b2bec3b3 ;
    }

    :local(.socialLink i){
        transition: all 0.3s linear; 
    }

    :local(.socialLink:hover i){
        transform:scale(1.4);
    }
    
    
    @media (max-width: 1000px){
        
    }

    @media (max-width: 800px){
        
        
    }

    @media (max-width: 600px){
        :local(.headingOne){
            font-size: 25px;
            }
            
            :local(.para){
                font-size: 16px;
                }

                :local(.firstConnection){
                    text-align: center;
                    font-size: 25px;
                }

                :local(.secondConnection){
                    font-size: 25px;
                }
            
                :local(.contactIcons){
                    font-size: 16px;
                }
            
    }

    @media (max-width: 400px){
        :local(.headingOne){
            font-size: 24px;
            }
            
            :local(.para){
                font-size: 15px;
                }

                :local(.firstConnection){
                    text-align: center;
                    font-size: 24px;
                }

                :local(.secondConnection){
                    font-size: 24px;
                }
            
                :local(.contactIcons){
                    font-size: 15px;
                }
            
                :local(.email){
                    
                    font-size: 15px;
                }
            
                :local(.phone){
                   
                    font-size: 15px;
                }
            
            :local(.place){
                
                font-size: 15px;
            }
    }