@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:local(.homeContainer){
margin-top:10vh;
width: 100%;
overflow-x: hidden;

}
:local(.mainContainer){
  height: 90vh;
  background-image:linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 20, 0.7), rgba(44, 62, 80,0.7), rgba(127, 140, 141,0.6), rgba(52, 73, 94, 0.8)),
    url("../images/homeScreen.png");
  background-size: cover;
}
:local(.firstHeading)
{
  color:white;
  padding-top: 30vh;
  text-align: center;
   font-size:22px;
}

:local(.secondHeading){
  color:white;
  padding-top: 3vh;
  text-align: center;
  font-size:18px;
}

:local(.infoContainer){
  width:100%;
    background-color: black;
    background-image: linear-gradient( rgba(52, 73, 94, 0.8), rgba(127, 140, 141,0.6), rgba(44, 62, 80,0.7), rgba(0, 0, 20, 0.2)); 
    background-size: cover;
    height:auto;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    padding-bottom: 300px;
    }
   
    
    :local(.button) {
      margin-top: 50px;
      width: 200px;
      height: 60px;
      border-radius: 50px;
      padding: 10px;
      background-color: #16a085;
      font-size: 18px;
      transition: all 2s linear;
    }
    
    :local(.button:hover) {
      background-color: #30336b;
      transform: scale(1.2);
    }
    
    :local(.link) {
      text-decoration: none;
      color: white;
    }

   
    :local(.cardContainer){
      width:400px;
      height: 350px;
      perspective: 500px;
    }
    :local(.content){
      width: 100%;
      height: 100%;
      position: absolute;
      transition: transform 1s;
      transform-style: preserve-3d;
    }
    :local(.front),
    :local(.back){
      width:100%;
      height: 100%;
      position: absolute;
      background-color: rgba(189, 195, 199,1.0);
      color:rgba(0, 0, 0, 1);
      font-size:30px;
      font-weight: bold;
      text-align: center;
      line-height: 300px;
      border-radius: 10px;
      backface-visibility: hidden;
    }
    :local(.back){
      background-color: rgba(41, 128, 185,1.0);
      color:white;
      font-size:18px;
      text-align: center;
      line-height: 25px;
      padding: 15px;
      transform: rotateY(180deg);
      
      
    }

    :local(.cardContainer:hover .content){
transform: rotateY(180deg);
    }

    @media (max-width: 1250px){

      :local(.infoContainer){
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-evenly;
        
        }
       
      :local(.cardContainer){
        width:320px;
        height: 400px;
        
      }
      :local(.front),
      :local(.back){
        font-size:22px;
      }
      :local(.back){
        font-size:16px;
       
      }

      
    }

    @media (max-width: 1000px){

      :local(.infoContainer){
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
        
        }
       
      :local(.cardContainer){
        width:320px;
        height: 400px;
        
      }
      :local(.front),
      :local(.back){
        font-size:22px;
      }
      :local(.back){
        font-size:16px;
       
      }

      :local(.cardContainer:last-child){
        padding-top:100px;
       
            }
    }


    @media (max-width: 800px){
        :local(.infoContainer){
        display: grid;
        grid-template-columns: auto;
        justify-content: space-evenly;
        }

        :local(.cardContainer){
          width:400px;
          height: 350px;
          margin-top:100px;
      
        }

        :local(.front),
        :local(.back){
          font-size:30px;
          line-height: 350px;
        }

        :local(.back){
          font-size:18px;
          text-align: center;
          line-height: 25px; 
        }

        :local(.cardContainer:last-child){
          padding-top:0px;
         
              } 

         
        
    }

    @media (max-width: 600px){
      :local(.firstHeading){
        padding-top: 25vh;
        font-size:20px;
     }
     
     :local(.secondHeading){
       font-size:16px;
     }
      :local(.infoContainer){
        display: grid;
        grid-template-columns: auto;
        justify-content: space-evenly;
        }

        :local(.cardContainer){
          width:350px;
          height: 380px;
          margin-top:80px;
      
        }

        :local(.front),
        :local(.back){
          font-size:25px;
          line-height: 300px;
        }

        :local(.back){
          font-size:16px;
          text-align: center;
          line-height: 25px; 
        }

        :local(.cardContainer:last-child){
          padding-top:0px;
         
              } 

    }

    @media (max-width: 400px){
      :local(.firstHeading){
        font-size:16px;
     }
     
     :local(.secondHeading){
       font-size:14px;
     }
      :local(.infoContainer){
        display: grid;
        grid-template-columns: auto;
        justify-content: space-evenly;
        }

        :local(.cardContainer){
          width:300px;
          height: 350px;
          margin-top:60px;
      
        }

        :local(.front),
        :local(.back){
          font-size:20px;
          line-height: 300px;
        }

        :local(.back){
          font-size:14px;
          text-align: center;
          line-height: 25px; 
        }

        :local(.cardContainer:last-child){
          padding-top:0px;
         
              } 
    }