
:local(.text){
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
     font-style: italic;
      letter-spacing: 1px;
}
:local(.innerCircle){
    stroke-width: 2px;
}
:local(.outerCircle){
    stroke-width: 2px;
}