@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

 :local(.parent ){  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15vh; 
  z-index: 9999;
} 

:local(.navbar) {  
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  background-color:rgb(72,72,72);  
  filter:grayscale(20%);  
}

:local(.menu ul) {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
}

:local(.menu li):nth-child(n+6) {
  visibility: hidden;
  opacity: 0;
  list-style-type: none;
 
}

:local(.link) {
  padding-right: 10px;
 padding-left: 10px;
  text-decoration: none;
 font-size: 22px;
  color: rgb(255, 255, 255);
}

.link:hover{
  color:rgb(255, 128, 0);
  font-weight: bold;
}



@media (max-width: 1000px){
  :local(.parent ){
    height:15vh; 
  } 
  
  :local(.menu ul) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center; 
  }

  :local(.menu li):nth-child(6) {
    visibility: visible;
    opacity: 1;
    list-style-type: none;
  }

  :local(.menu li):nth-child(-n+5) {
    visibility: hidden;
    opacity: 0;
    list-style-type: none;
  }
  :local(.iconLink) {
    padding-right: 10px;
    text-decoration: none;
    font-size: 22px;
    color: rgb(255, 255, 255);
  }
  .iconLink:hover{
    color:rgb(255, 128, 0);
    font-weight: bold;
  }
  
}

@media(max-width: 800px) {
  :local(.parent ){
    height:15vh; 
  } 
  
  :local(.menu ul) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center; 
  }

  :local(.menu li):nth-child(6) {
    
    visibility: visible;
    opacity: 1;
    list-style-type: none;
  }

  :local(.menu li):nth-child(-n+5) {
    visibility: hidden;
    opacity: 0;
    list-style-type: none;
  }

  :local(.iconLink) {
    padding-right: 10px;
    text-decoration: none;
    font-size: 22px;
    color: rgb(255, 255, 255);
  }
  .iconLink:hover{
    color:rgb(255, 128, 0);
    font-weight: bold;
  }
  
}

@media (max-width: 600px){
  :local(.parent ){  
    height:15vh; 
  } 
  
  :local(.menu ul) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    
  }

  :local(.menu li):nth-child(6) {
    visibility: visible;
    opacity: 1;
    list-style-type: none;
    padding-right: 20px;
  }

  :local(.menu li):nth-child(-n+5) {
    visibility: hidden;
    opacity: 0;
    list-style-type: none;
  }

  :local(.iconLink) {
    padding-right: 10px;
    text-decoration: none;
    font-size: 22px;
    color: rgb(255, 255, 255);
  }
  .iconLink:hover{
    color:rgb(255, 128, 0);
    font-weight: bold;
  }
  
  
    }